<!DOCTYPE html>
<html>
  <head>
    <title>InsuranWebapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="shortcut icon" href="/images/favicon.ico" />
  </head>

  <body>
    <header>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to "アカウント変更", edit_user_registration_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "新規作成", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
